GOOGLE_CLOUD_PROJECT=your-gcp-project-id
GOOGLE_APPLICATION_CREDENTIALS=~/.config/gcloud/application_default_credentials.json
GCS_BUCKET=hk-transit-pulse-raw

REDPANDA_BROKERS=your-redpanda-broker:9092
REDPANDA_USERNAME=your-redpanda-username
REDPANDA_PASSWORD=your-redpanda-password
